[submodule "src/3rdparty/notorm"]
	path = src/3rdparty/notorm
	url = git://github.com/ShaneMcC/notorm.git
[submodule "src/3rdparty/phpquery"]
	path = src/3rdparty/phpquery
	url = git://github.com/ShaneMcC/phpQuery.git
[submodule "src/3rdparty/simpletest"]
	path = src/3rdparty/simpletest
	url = git://github.com/ShaneMcC/SimpleTest.git
[submodule "src/3rdparty/MoneyAnalyser"]
	path = src/3rdparty/MoneyAnalyser
	url = git://github.com/csmith/MoneyAnalyser.git
